@import 'variables.styl'
@import 'mediaQuery.styl'

body, #app
  display flex
  flex-flow column
  align-items center

#app
  width 100%
  min-height 100vh

#nav, #footer
  min-height 3em
  display flex
  flex-flow row nowrap
  align-items center
  justify-content flex-start
  max-width 100%
  width 100%

  ul
    margin 0.5em 2em
    list-style none

  ul.title
    display flex
    flex-flow column wrap
    font-weight bold

  ul.menu
    display flex
    flex-flow row nowrap
    margin 0 1em 0 auto

    li
      margin 0 0.5em
      font-weight bold

.content
  display flex
  flex-direction column
  margin 0 1em
  box-sizing content-box
  flex 1 0 auto
  max-width 100%
  width auto
  
#footer
  justify-content space-between
  flex-shrink 0
  margin-top 1em

// XSmall
@media $media_xsmall
  #nav, #footer
    ul
      margin 0.5em 2em

// Small
@media $media_small
  #nav, #footer
    ul.menu
      margin 0 5em 0 auto

  .content
    margin 0 5em

// Medium
@media $media_medium
  .content
    margin 0 10em

// Large
@media $media_large
  .content
    margin 0 15em

// XLarge
@media $media_xlarge
  .content
    margin 0 20em